<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>收集表单数据</title>
		<!--引入Vue-->
		<script type="text/jscript" src="js/vue.js"></script>
	</head>
	<body>
        <!-- 
            收集表单数据：
                若：<input type="text">，则v-model收集的是value值，用户输入的也是value值。
                若：<input type="radio">，则v-model收集的是value值，且要给标签配置value值。
                若：<input type="checkbox">
                    1.没有配置input的value属性，那么v-model收集的是checked值（勾选 或 未勾选，是布尔值）
                    2.配置input的value属性：
                        (1).v-model的初始值是非数组，那么v-model收集的是checked值（勾选 或 未勾选，是布尔值）
                        (2).v-model的初始值是数组，那么v-model收集的就是value组成的数组
                备注，v-model的三个修饰符：
                    lazy：失去焦点在收集数据
                    number：输入字符串转为有效的数字
                    trim：输入的首尾空格过滤
         -->
		<!--准备一个容器-->
		<div id="root">
			<form @submit.prevent="demo">
                <!-- <label for="account">账号：</label>
                <input type="text" id="account"><br><br>
                <label for="password">密码：</label>
                <input type="password" id="password"> -->

                账号：<input type="text" v-model.trim="account"><br><br>
                密码：<input type="password" v-model="password"><br><br>
                年龄：<input type="number" v-model.number="age"><br><br>
                性别：
                男：<input type="radio" name="sex" value="男" v-model="sex">
                女：<input type="radio" name="sex" value="女" v-model="sex"><br><br>
                爱好：
                学习<input type="checkbox" value="study" v-model="hobby">
                打游戏<input type="checkbox" value="game" v-model="hobby">
                吃饭<input type="checkbox" value="eat" v-model="hobby"><br><br>
                所在校区：<select v-model="city">
                    <option value="">请选择校区</option>
                    <option value="beijing">北京</option>
                    <option value="shanghai">上海</option>
                    <option value="chengdu">成都</option>
                    <option value="shenzhen">深圳</option>
                    <option value="wuhan">武汉</option>
                </select><br><br>
                其他信息：
                <textarea v-model.lazy="other"></textarea><br><br>
                <input type="checkbox" v-model="agree"> 阅读并接受<a href="#">《用户协议》</a><br><br>
                <button>提交</button>
            </form>
		</div>
	</body>
	<script>
		Vue.config.productionTip = false //阻止Vue在启动时生成生产提示
			
       const vm =  new Vue({
            el:'#root',
			data:{
				account:'',
                password:'',
                age:'',
                sex:'',
                hobby:[],
                city:'',
                other:'',
                agree:''
			},
            methods: {
                demo(){
                    // alert(this.account+' : '+this.password+' : '+this.sex+' : '+this.hobby
                    // +' : '+this.city+' : '+this.other+' : '+this.agree)

                    // console.log(this.account+' : '+this.password+' : '+this.sex+' : '+this.hobby
                    // +' : '+this.city+' : '+this.other+' : '+this.agree)

                    //将收集到的数据转为json格式输出
                    console.log(JSON.stringify(this._data))
                }
            },
        })
	</script>
</html>
